.footer {
  // width: 100%;
  // padding-top: 150px;
  position: relative;
  overflow: hidden;

  .foot_top {
    width: 100%;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    overflow: hidden;
    // heading -----
    .heading {
      font-size: 70px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.5px var(--secondary-color);
      font-family: anton;
      letter-spacing: 5px;
    }
    p {
      font-size: 18px;
      font-weight: 600;
      color: var(--secondary-color);
      margin-bottom: 15px;
    }
    div {
      width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-family: poppins;
      input {
        width: 100%;
        height: 35px;
        border: none;
        font-size: 14px;
        border-radius: 5px;
        padding: 0 110px 0 30px;
        ::placeholder {
        }
      }
      button {
        font-weight: 600;
        position: absolute;
        right: 8px;
        width: 80px;
        height: 25px;
        border-radius: 5px;
        border: none;
        background-color: var(--tertiary-color);
        color: var(--secondary-color);
      }
    }
  }
  .foot_bottom {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    img {
      width: 200px;
    }
  }
  // Absolute images
  .popcorn1 {
    position: absolute;
    z-index: 10;
    bottom: -15px;
    left: -25px;
    width: 42%;
  }
  .popcorn2 {
    position: absolute;
    z-index: 10;
    bottom: -15px;
    right: -25px;
    width: 42%;
    transform: rotate(-60deg);
  }
}

// Media queries
@media screen and (max-width: 1536px) {
  // .footer {
  // }
}

@media screen and (max-width: 1024px) {
  .footer {
    .foot_top {
      .heading {
        font-size: 55px;
      }
      p {
        font-size: 18px;
      }

      div {
        width: 420px;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .footer {
    .foot_top {
      .heading {
        font-size: 48px;
      }
      p {
        font-size: 14px;
      }

      div {
        width: 350px;
      }
    }
  }
}
